---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import BaseContainer from "@components/base/BaseContainer.astro";
---

<section class="pt-9 pb-14 md:pt-6 xl:pt-10">
  <BaseContainer>
    <div
      class="max-w-244 mx-auto flex items-center justify-center gap-4 md:px-4 md:py-2 md:bg-gray-100 md:rounded-1.5xl"
    >
      <span
        class="bg-green-600 text-white text-sm font-medium px-3 py-0.5 rounded-2lg uppercase md:block md:w-fit md:flex-shrink-0"
      >
        Powerful image search
      </span>

      <p class="hidden md:block">
        Advanced Image Search Tools to Track Stolen Bikes and Recover Your Ride
        with Precision!
      </p>
    </div>

    <div class="md:max-w-156 md:mx-auto xl:max-w-284">
      <h1
        class="mt-8 text-3xl leading-tight font-bold text-center text-customgray-900 md:text-4xl xl:text-5xl"
      >
        {t("homepage.image_a")}
      </h1>

      <p class="mt-6 text-center text-customgray-600 md:text-lg">
        Your ultimate resource for searching stolen bikes using cutting-edge
        image search technology. We understand the frustration of having your
        bike stolen, which is why we've developed powerful tools to aid in its
        recovery.
      </p>
    </div>

    <div
      class="mt-8 flex flex-col items-center justify-center gap-4 md:flex-row"
    >
      <a
        class="w-full flex items-center justify-center gap-3 rounded-lg py-4 px-4 border border-customgray-900 md:w-max md:px-6"
        href={localizePath("/create-report")}
      >
        <svg
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M14.8837 6.53033L14.8837 6.53041C15.1181 6.76474 15.2499 7.08256 15.25 7.414C15.25 7.41405 15.25 7.41411 15.25 7.41416V16C15.25 16.3315 15.1183 16.6495 14.8839 16.8839C14.6495 17.1183 14.3315 17.25 14 17.25H6C5.66848 17.25 5.35054 17.1183 5.11612 16.8839C4.8817 16.6495 4.75 16.3315 4.75 16V4C4.75 3.66848 4.8817 3.35054 5.11612 3.11612C5.35054 2.8817 5.66848 2.75 6 2.75H10.5858C10.5859 2.75 10.5859 2.75 10.586 2.75C10.9174 2.75011 11.2353 2.88185 11.4696 3.11625L11.4697 3.11633L14.8837 6.53033ZM8.25 10.7753C8.24584 10.771 8.24165 10.7668 8.23744 10.7626C7.90925 10.4344 7.46413 10.25 7 10.25C6.53587 10.25 6.09075 10.4344 5.76256 10.7626C5.43437 11.0908 5.25 11.5359 5.25 12V15C5.25 15.4641 5.43437 15.9092 5.76256 16.2374C6.09075 16.5656 6.53587 16.75 7 16.75C7.46413 16.75 7.90925 16.5656 8.23744 16.2374C8.33918 16.1357 8.42711 16.0227 8.5 15.9014C8.57289 16.0227 8.66082 16.1357 8.76256 16.2374C9.09075 16.5656 9.53587 16.75 10 16.75C10.4641 16.75 10.9092 16.5656 11.2374 16.2374C11.3392 16.1357 11.4271 16.0227 11.5 15.9014C11.5729 16.0227 11.6608 16.1357 11.7626 16.2374C12.0908 16.5656 12.5359 16.75 13 16.75C13.4641 16.75 13.9092 16.5656 14.2374 16.2374C14.5656 15.9092 14.75 15.4641 14.75 15V8C14.75 7.53587 14.5656 7.09075 14.2374 6.76256C13.9092 6.43438 13.4641 6.25 13 6.25C12.5359 6.25 12.0908 6.43438 11.7626 6.76256C11.4344 7.09075 11.25 7.53587 11.25 8V8.77526C11.2458 8.77101 11.2416 8.76677 11.2374 8.76256C10.9092 8.43438 10.4641 8.25 10 8.25C9.53587 8.25 9.09075 8.43438 8.76256 8.76256C8.43438 9.09075 8.25 9.53587 8.25 10V10.7753Z"
            fill="#1F2A37"
            stroke="#1F2A37"
            stroke-width="1.5"></path>
        </svg>

        <span class="font-medium text-customgray-800 md:block md:w-max"
          >Create Report</span
        >
      </a>
      <a
        class="w-full flex items-center justify-center gap-3 bg-primary-600 rounded-lg py-4 px-4 border border-transparent md:w-max md:px-6"
        href={localizePath("/create-report")}
      >
        <svg
          width="14"
          height="16"
          viewBox="0 0 14 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 15C0 14.7348 0.105357 14.4805 0.292893 14.2929C0.48043 14.1054 0.734784 14 1 14H13C13.2652 14 13.5196 14.1054 13.7071 14.2929C13.8946 14.4805 14 14.7348 14 15C14 15.2652 13.8946 15.5196 13.7071 15.7071C13.5196 15.8947 13.2652 16 13 16H1C0.734784 16 0.48043 15.8947 0.292893 15.7071C0.105357 15.5196 0 15.2652 0 15ZM3.293 4.70703C3.10553 4.5195 3.00021 4.26519 3.00021 4.00003C3.00021 3.73487 3.10553 3.48056 3.293 3.29303L6.293 0.293031C6.48053 0.105559 6.73484 0.000244141 7 0.000244141C7.26516 0.000244141 7.51947 0.105559 7.707 0.293031L10.707 3.29303C10.8892 3.48163 10.99 3.73424 10.9877 3.99643C10.9854 4.25863 10.8802 4.50944 10.6948 4.69485C10.5094 4.88026 10.2586 4.98543 9.9964 4.9877C9.7342 4.98998 9.4816 4.88919 9.293 4.70703L8 3.41403V11C8 11.2652 7.89464 11.5196 7.70711 11.7071C7.51957 11.8947 7.26522 12 7 12C6.73478 12 6.48043 11.8947 6.29289 11.7071C6.10536 11.5196 6 11.2652 6 11V3.41403L4.707 4.70703C4.51947 4.8945 4.26516 4.99982 4 4.99982C3.73484 4.99982 3.48053 4.8945 3.293 4.70703Z"
            fill="white"></path>
        </svg>

        <span class="text-white font-medium md:block md:w-max">
          {t("homepage.hero.cta_add_listing")}
        </span>
      </a>
    </div>
  </BaseContainer>
</section>
