---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import BaseContainer from "@components/base/BaseContainer.astro";
import SearchForm from "@components/search/SearchForm.vue";
---

<section class="pt-9 pb-14 md:pt-6 xl:pt-10">
  <BaseContainer>
    <div
      class="max-w-244 mx-auto flex items-center justify-center gap-4 md:px-4 md:py-2 md:bg-gray-100 md:rounded-1.5xl"
    >
      <span
        class="bg-green-600 text-white text-sm font-medium px-3 py-0.5 rounded-2lg uppercase md:block md:w-fit md:flex-shrink-0"
      >
        Powerful image search
      </span>

      <p class="hidden md:block">
        Advanced Image Search Tools to Track Stolen Bikes and Recover Your Ride
        with Precision!
      </p>
    </div>

    <div class="md:max-w-156 md:mx-auto xl:max-w-284">
      <h1
        class="mt-8 text-3xl leading-tight font-bold text-center text-customgray-900 md:text-4xl xl:text-5xl"
      >
        {t("homepage.image_a")}
      </h1>

      <p class="mt-6 text-center text-customgray-600 md:text-lg">
        Your ultimate resource for searching stolen bikes using cutting-edge
        image search technology. We understand the frustration of having your
        bike stolen, which is why we've developed powerful tools to aid in its
        recovery.
      </p>
    </div>

    <div
      class="mt-8 flex flex-col items-center justify-center gap-4 md:flex-row"
    >
      <SearchForm client:only />
      <a
        class="w-full flex items-center justify-center gap-3 bg-primary-600 rounded-lg py-4 px-4 border border-transparent md:w-max md:px-6"
        href={localizePath("/create-report")}
      >
        <svg
          width="14"
          height="16"
          viewBox="0 0 14 16"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M0 15C0 14.7348 0.105357 14.4805 0.292893 14.2929C0.48043 14.1054 0.734784 14 1 14H13C13.2652 14 13.5196 14.1054 13.7071 14.2929C13.8946 14.4805 14 14.7348 14 15C14 15.2652 13.8946 15.5196 13.7071 15.7071C13.5196 15.8947 13.2652 16 13 16H1C0.734784 16 0.48043 15.8947 0.292893 15.7071C0.105357 15.5196 0 15.2652 0 15ZM3.293 4.70703C3.10553 4.5195 3.00021 4.26519 3.00021 4.00003C3.00021 3.73487 3.10553 3.48056 3.293 3.29303L6.293 0.293031C6.48053 0.105559 6.73484 0.000244141 7 0.000244141C7.26516 0.000244141 7.51947 0.105559 7.707 0.293031L10.707 3.29303C10.8892 3.48163 10.99 3.73424 10.9877 3.99643C10.9854 4.25863 10.8802 4.50944 10.6948 4.69485C10.5094 4.88026 10.2586 4.98543 9.9964 4.9877C9.7342 4.98998 9.4816 4.88919 9.293 4.70703L8 3.41403V11C8 11.2652 7.89464 11.5196 7.70711 11.7071C7.51957 11.8947 7.26522 12 7 12C6.73478 12 6.48043 11.8947 6.29289 11.7071C6.10536 11.5196 6 11.2652 6 11V3.41403L4.707 4.70703C4.51947 4.8945 4.26516 4.99982 4 4.99982C3.73484 4.99982 3.48053 4.8945 3.293 4.70703Z"
            fill="white"></path>
        </svg>

        <span
          class="text-white font-medium md:block md:w-max transform -translate-y-0.5"
        >
          {t("homepage.hero.cta_add_listing")}
        </span>
      </a>
    </div>
  </BaseContainer>
</section>
