<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    html, body {
      height: 100%;
    }
  </style>
</head>
<body class="container  mx-auto flex justify-center items-center flex-col">
  <h1 class="text-3xl font-bold font-mono mt-6">404 not found 🥲</h1>
  <p class="text-sm text-gray-400">The page, hopefully not the bike</p>
  <img class="max-h-64 max-w-64 mt-6" src="/static/img/not-found.jpg" alt="page not found">
</body>
</html>
