---

---


<form enctype="multipart/form-data" action="/api/input/form" method="post">
  <input id="name" type="text" />
  <input id="data" name="file" type="file" />
  <button type="submit" name="submit">Search</button>
</form>