---
import language, { t, changeLanguage } from "i18next";
import { localizePath } from "astro-i18next";

import BaseLayout from "@layouts/Base.astro";

changeLanguage(Astro.url.searchParams.get("locale") || "en");
---

<BaseLayout title={t("homepage.title")} lang={language} description="">
  <style>
    .hero {
      background: linear-gradient(
        90deg,
        rgba(82, 241, 232, 0.24) 0%,
        rgba(176, 253, 79, 0.24) 25%,
        rgba(82, 241, 232, 0.24) 50%,
        rgba(162, 251, 49, 0.24) 100%
      );
    }
  </style>
  <div class="w-full">
    <div class="hero w-full h-[50vh] flex flex-col items-center justify-center">
      <div class="pre-cta text-lg font-bold">
        {t("homepage.hero.pre_cta")}
      </div>
      <h1 class="cta text-6xl font-extrabold">{t("homepage.hero.title")}</div>
      <div
        class="input mt-10 mb-6 bg-white border-dashed border-gray-500 rounded border py-2 px-4"
      >
        <button class="flex gap-2 text-xs">
          <span class="font-bold">Drag a stolen bike image here</span> or <span
            class="text-green-500">upload a file</span
          >
          <img src="#" />
          Search by Image
        </button>
      </div>
      <div class="my-4">
        <span class="text-gray-400">No luck?</span> Try to listing your bike
      </div>
      <a
        class="list-button text-white bg-[#2DA771] rounded py-2 px-4 tracking-wider uppercase text-sm"
        href={localizePath("/report")}>{t("homepage.hero.cta_add_listing")}</a
      >
    </div>
    <div class="listing"></div>
    <div class="blog"></div>
  </div>
</BaseLayout>
