---
import { Debug } from 'astro/components';

import ListingEntry from "@components/listing/entry.astro";

import i18next, { t, changeLanguage } from "i18next";

import BaseLayout from "@layouts/Base.astro";
import config from "@utils/config";

import Listing from "@models/listing";

const args = {
  locale: Astro.url.searchParams.get("locale") || 'en',
}

let listing = await Listing();

// console.log(listing)

if (! listing ) {
  return await config.http404();
}


await i18next.changeLanguage(args.locale)

changeLanguage(args.locale)
---

<BaseLayout title={t("test.x")} description="test">
  <div class="py-10 px-5 flex flex-wrap gap-6 justify-center">
    {listing.map((report) => <ListingEntry {report} language={args.locale} />)}
  </div>
</BaseLayout>
