# the connection pool will be disabled and connections will be established and closed for every use.
BROKER_POOL_LIMIT=0
BROKER_TRANSPORT_OPTION_MAX_RETRIES=1
BROKER_TRANSPORT_OPTTION_VISIBILITY_TIMEOUT=30
BROKER_URL="redis://redis:6379"
CELERYD_CONCURRENCY=1
LOG_LEVEL=DEBUG
TASK_ACKS_LATE=false
TASK_SOFT_TIME_LIMIT=10
TASK_TIME_LIMIT=60
WORKER_CONCURRENCY=1
WORKER_DB_URI=postgresql://postgres:postgres@postgresql:5432/postgres
WORKER_DIRECTUS_TOKEN=token
WORKER_DIRECTUS_URI=http://directus:8055
WORKER_DISABLE_RATE_LIMITS=true
WORKER_MAIN_PUBLIC_ACTIVATION_URL_PATTERN="http://localhost:3000/activation/{code}"
WORKER_PREFETCH_MULTIPLIER=1
WORKER_PUBLIC_TMP_URL="http://host.docker.internal:3000/tmp"
WORKER_WEAVIATE_URI=http://weaviate:8080
