---
import CarouselItem from "./CarouselItem.astro";

import type { CarouselItemProps } from "./CarouselItem.astro";

export interface CarouselProps {
  items: CarouselItemProps[];
}

const { items } = Astro.props as CarouselProps;
---

<div id="controls-carousel" class="relative w-full pb-7" data-carousel="static">
  <!-- Carousel wrapper -->
  <div class="flex items-center w-full h-full">
    <div class="card w-full">
      <div class="relative overflow-hidden rounded-lg h-48 aspect-video w-full">
        {
          items.map(() => (
            <CarouselItem
              imgPath="/4b8d515f-ed58-4b3f-8c47-c9b57aa98a66.jpeg"
              alt="..."
            />
          ))
        }
      </div>
    </div>
  </div>

  <!-- Slider indicators -->
  <div
    class="absolute w-full z-30 flex items-center justify-between space-x-3 -translate-x-1/2 bottom-0 left-1/2"
  >
    <!-- Slider controls -->

    <button
      type="button"
      class="bottom-0 left-0 z-30 cursor-pointer transform focus:outline-none focus:ring-0"
      data-carousel-prev
    >
      <span
        class="inline-flex items-center justify-center w-5 h-5 rounded-full bg-gray-400 hover:bg-gray-800 focus:bg-gray-800 text-white"
      >
        <svg
          aria-hidden="true"
          class="w-3.5 h-3.5 text-white"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M15 19l-7-7 7-7"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>

    <!-- Slider indicators -->
    <div class="indicators inline-flex items-center gap-x-2">
      {
        items.map((item, i) => (
          <button
            id="carousel-indicator-1"
            type="button"
            class="w-3 h-3 rounded-full bg-gray-300 hover:bg-gray-500"
            aria-current={i === 0 ? true : false}
            aria-label={`Slide ${i + 1}`}
            data-carousel-slide-to={i}
          />
        ))
      }
      <!-- <button
        id="carousel-indicator-1"
        type="button"
        class="w-3 h-3 rounded-full bg-gray-300 hover:bg-gray-500"
        aria-current="true"
        aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button
        id="carousel-indicator-2"
        type="button"
        class="w-3 h-3 rounded-full bg-gray-300 hover:bg-gray-500"
        aria-current="false"
        aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button
        id="carousel-indicator-3"
        type="button"
        class="w-3 h-3 rounded-full bg-gray-300 hover:bg-gray-500"
        aria-current="false"
        aria-label="Slide 3"
        data-carousel-slide-to="2"></button> -->
    </div>

    <!-- Slider controls -->
    <button
      type="button"
      class="bottom-0 right-0 z-30 cursor-pointer focus:outline-none focus:ring-0"
      data-carousel-next
    >
      <span
        class="inline-flex items-center justify-center w-5 h-5 rounded-full bg-gray-400 hover:bg-gray-800 focus:bg-gray-800 text-white"
      >
        <svg
          aria-hidden="true"
          class="w-3.5 h-3.5 text-white"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 5l7 7-7 7"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</div>

<style>
  .indicators [aria-current="true"] {
    @apply bg-primary-600;
  }
</style>
