---
import Carousel from './Carousel.astro';
// export interface Props {
// 	title: string;
// 	body: string;
// 	href: string;
// }

// const { href, title, body } = Astro.props;
---

<li class="link-card list-none flex p-1 bg-white gap-1 items-center flex flex-col">
	
  <Carousel/>
  <div>
	<span class="text-gray-700 font-inter font-normal" style="padding: 0.8rem 1rem; font-size: 1rem;">
		Theft Date
	</span>
	<span  class="text-gray-700 font-inter font-normal" style="padding: 0.8rem 1rem; font-size: 1rem;">
		28/05/2022
	</span>
  </div>
  <div>
	<span  class="text-gray-700 font-inter font-normal"style="padding: 0.8rem 1rem; font-size: 1rem;">
		Location
	</span>
	<span class="text-gray-700 font-inter font-normal" style="padding: 0.8rem 1rem; font-size: 1rem;">
		Milano, Italy
	</span>

  </div>
  <div>
  	<a  class="w-full no-underline leading-5 rounded-md text-gray-700 bg-white" href=""><button class="bg-blue-700 rounded py-2 px-4 text-white">See full report</button></a>
  </div>
</li>