<div id="controls-carousel" class="relative w-full max-w-md" data-carousel="static">
    <!-- Carousel wrapper -->
    <div class="flex items-center justify-center h-full">
        <div class="card">
          <div class="relative overflow-hidden rounded-lg w-48 h-40 md:w-96 md:h-56">
            <!-- Item 1 -->
            <div class="hidden h-full duration-700 ease-in-out" data-carousel-item>
                <img src="/4b8d515f-ed58-4b3f-8c47-c9b57aa98a66.jpeg" class="rounded-full absolute block w-full h-full object-cover object-scale-down" alt="...">
              </div>
            <!-- Item 2 -->
            <div class="hidden h-full duration-700 ease-in-out" data-carousel-item>
                <img src="/4b8d515f-ed58-4b3f-8c47-c9b57aa98a66.jpeg" class="rounded-full absolute block w-full h-full object-cover object-scale-down" alt="...">
              </div>
            <!-- Item 3 -->
          </div>
        </div>
      </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer focus:outline-none focus:ring-0" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-blue-500/30 text-white dark:bg-gray-800/30 hover:bg-white/50 dark:hover:bg-gray-800/60 focus:ring-4 focus:ring-white dark:focus:ring-gray-800/70">
          <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      
      <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer focus:outline-none focus:ring-0" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-blue-500/30 text-white dark:bg-gray-800/30 hover:bg-white/50 dark:hover:bg-gray-800/60 focus:ring-4 focus:ring-white dark:focus:ring-gray-800/70">
          <svg aria-hidden="true" class="w-6 h-6 text-white dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
          </svg>
          <span class="sr-only">Next</span>
        </span>
      
      </button>
  </div>