---
import { t } from "i18next";
import BaseContainer from "@components/base/BaseContainer.astro";
---

<footer class="bg-customgray-800 py-4">
  <BaseContainer>
    <p class="text-center text-customgray-500">
      &copy; 2023 GoneBike. {t("footer.rights")}
    </p>
  </BaseContainer>
</footer>
