
<nav class="bg-white border-gray-200 dark:bg-gray-900" style="background-color: #1F2A37;">
  <div class="max-w-screen-xl flex flex-wrap items-center mx-auto p-4">
   
    <p class="c2 mx-auto sm:items-center">&copy; 2023 GoneBike. All rights reserved.</p>
  
  </div>
</nav>

<style>
.c2{
height: 24px;

/* text-base/font-medium */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 150%;

/* identical to box height, or 24px */
text-align: center;

/* white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
}

/* Style the dropdown items */


</style>
