<footer class="flex justify-between py-10 px-5 bg-[#F0F5FF]">
  <!-- @TODO: map color in tailwind  -->
  <div>
    <p class="text-sm text-slate-500">
      Copyright © {new Date().getFullYear()} Gone.Bike
    </p>
  </div>
  <div class="flex gap-5 text-xs text-slate-500 mt-1">
    <img
      src="https://www.svgrepo.com/show/513008/twitter-154.svg"
      alt={"Twitter"}
      class="h-4 aspect-square opacity-60"
    />
    <img
      src="https://www.svgrepo.com/show/500854/facebook.svg"
      alt={"Facebook"}
      class="h-4 aspect-square opacity-60"
    />
    <img
      src="https://www.svgrepo.com/show/512399/instagram-167.svg"
      alt={"Instagram"}
      class="h-4 aspect-square opacity-60"
    />
    <img
      src="https://www.svgrepo.com/show/512317/github-142.svg"
      alt={"GitHub"}
      class="h-4 aspect-square opacity-60"
    />
  </div>
</footer>
