---
import { localizePath } from "astro-i18next";
---
<div class="flex justify-between items-center py-10 px-4">
    <div class="container-1 flex items-center gap-5">
      <div class="hamburger-menu"></div>
      <div class="logo text-xl font-extrabold">
        <a href={localizePath("/")}>Gone.Bike</a>
      </div>
      <div class="actual-navbar flex gap-3">
        <div>Home</div>
        <div>Blog</div>
        <div>About Project</div>
      </div>
    </div>
    <div class="container-2 flex items-center gap-5">
      <div class="favorites">❤️</div>
      <div class="user">👤</div>
      <div class="language">English(US)</div>
      <button
        class="flex gap-2 items-center bg-black text-white rounded py-2 px-4"
      >
        <img
          src="https://www.svgrepo.com/show/512317/github-142.svg"
          alt="GitHub"
          class="h-4 invert"
        />
        <p>GitHub</p></button
      >
    </div>
  </div>