


<form>
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
         
            <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bike Brand </label>
            <select id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Select</option>
            <option value="US">BMX</option>
            <option value="CA">BMX</option>
            <option value="FR">BMX</option>
            <option value="DE">BMX</option>
            </select>

        </div>
        <div>
         
            <label for="model" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bike Model </label>
            <select id="model" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Select</option>
            <option value="US">1001</option>
            <option value="CA">2001</option>
            <option value="FR">3333</option>
            <option value="DE">20134</option>
            </select>

        </div>
       
        <div>
            <label for="Serial Number" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Serial Number</label>
            <input type="text" id="Serial Number" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Flowbite" required>
        </div>  
        <div class="mb-6">
            <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bike Description</label>
            <input type="text" id="large-input" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        </div>
       
    </div>
   
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</form>