---
import i18next, { t } from "i18next";

export interface AddCommentProps {
  class?: string;
}

const { class: classes } = Astro.props as AddCommentProps;
---

<form class:list={["", {}, classes]}>
  <label
    for="message"
    class="block mb-2 text-sm font-medium dark:text-white sr-only"
    >Your message</label
  >
  <textarea
    id="message"
    class="block py-3 px-4 w-full text-sm text-gray-500 rounded-lg border border-gray-200 focus:ring-primary-600 focus:border-primary-600 md:text-base"
    placeholder={t("details.comments.add_comment_placeholder")}></textarea>

  <button
    type="submit"
    class="mt-2.5 block text-white bg-primary-600 hover:bg-primary-700 focus:ring-2 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-auto px-3 py-2 text-center md:px-4 md:py-3 md:text-base"
  >
    Post comment
  </button>
</form>
