---
import { Debug } from 'astro/components';
import Report from '@models/report';
import i18next, { t } from 'i18next';
import config from '@utils/config';

if (!Astro.params.id || ! Astro.params.code) {
    return await config.http404();
}

let report = await Report(Astro.params.id);

if (! report || ! report?.activation_code ) {
    return await config.http404();
}

if ( report?.activation_code != Astro.params.code ) {
    return await config.http404();
}

report.enable();

await i18next.changeLanguage(args.locale)
---
<!-- <Debug { report } /> -->
hello <span>{ report.activation_code }</span>